@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'IBM Plex Mono',monospace;
}


section {
    background-color: white;
    border: solid black 1px;
}

.hero {
    background-color: #181b1f ;
    height: 100vh; 
    color: white;
    font-size: 40px;
}

footer {
    height: 500px;
    background-color: black;
}


nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

li {
    text-decoration: none;
    margin-right: 30px;
}

h1 {
    font-size: 90px;
    margin: 0;
}

p {
    margin: 0;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
    font-weight: 300;
    font-size: 30px;
}


.button {
    width:300px;
    height:50px;
    border-radius: 40px;
    background-color: #73c0eb;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    margin-top: 20px;
}

.hero-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.button:hover {
    background-color:#0017c7 ;
}

.logo {
    height: 200px;

}

.container {
    width: 80%;
    background-color: #ddd;
}
  
.skills {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
}
  
.html {width: 60%; background-color: #9eb9fc;}
.css {width: 40%; background-color: #9eb9fc;}
.java {width: 95%; background-color: #9eb9fc;}
.sql {width: 80%; background-color: #9eb9fc;}
.c {width: 90%; background-color: #9eb9fc;}
.cplus {width: 80%; background-color: #9eb9fc;}
.haskell {width: 70%; background-color: #9eb9fc;}
.seo {width: 90%; background-color: #9eb9fc;}
.social {width: 80%; background-color: #9eb9fc;}


.sub-section {
    padding: 60px;
}


.headshot {
    display: flex;
    align-items: center;
    margin-left: 40%;
    padding: 0;
    width: 300px;
    border-radius: 450px;
}
